[Desktop Entry]
Type=Application
Name=Files
GenericName=File Manager
Comment=One folder at a time
Exec=moarchy-files %U
Icon=org.moarchy.Files
Terminal=false
Categories=Utility;Core;FileTools;FileManager;
Keywords=files;file;folder;browse;manager;storage;card;sd;trash;copy;move;rename;
MimeType=inode/directory;
StartupNotify=false
