[Desktop Entry]
Type=Application
Name=Weather
GenericName=Weather forecast
Comment=Now, the next day and the week, where you are and in the places you named
Exec=moarchy-weather
Icon=org.moarchy.Weather
Terminal=false
Categories=Utility;
Keywords=weather;forecast;temperature;rain;wind;
StartupNotify=false
